# Chặn các thư mục rác và dữ liệu nặng
.git/
.github/
.devcontainer/
data/
env/
scripts/
test/

# Chặn các file tài liệu và ảnh rác (dựa trên ảnh bạn gửi)
DUANCNTT_Report.docx
README
thucnghiem24h.png
*.ipynb

# Chặn các file môi trường và cache
app/backend/.env
__pycache__/
*.py[cod]
*$py.class
